
// Color theme generator link
// https://coolors.co/284b79-bc6b3c-b1956e-bdbdbd-2d373c

$primary: #305b93
$primary-light: #5578A6
$primary-dark: #284B79

$accent: #E58249
$accent-light: #E9986A
$accent-dark: #BC6B3C

$trim: #D8B686
$trim-light: #DFC39C
$trim-dark: #B1956E

$white: #E6E6E6
$white-light: #EAEAEA
$white-dark: #BDBDBD

$black: #364349
$black-light: #5A656A
$black-dark: #2D373C
